<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="side-by-side">
      <div class="elem1">
        <h2><%=company.name%></h2>
      </div>
      <label for="month">Summary for the month</label>
      <input
        type="month"
        name="month"
        id="month"
        value="2022-10"
        style="height: 30px"
      />
    </div>
    <div class="side-by-side">
      <h3>B/E No</h3>
      <h3>Date</h3>
      <h3>Product Description</h3>
      <h3>HS Code</h3>
      <h3>Quantity</h3>
      <h3>Purchase Value</h3>
      <h3>Purchase Rate</h3>
      <h3>Addition %</h3>
      <h3>Addition Value</h3>
      <h3>Sales Rate</h3>
      <h3>Sales Value</h3>
      <h3>VAT %</h3>
      <h3>VAT Amount</h3>
      <h3>Rebate</h3>
      <h3>AT 5%</h3>
      <h3>TR Deposite</h3>
      <h3>Opening Stock</h3>
      <h3>Sales Quantity</h3>
      <h3>Closing Stock</h3>
      <h3>TR</h3>
      <h3>Closing Balance (note 65)</h3>
      <button id="add" class="green">Add</button>
    </div>
    <div id="addInput" class="addInput"></div>
    <button id="submit" class="green">submit</button>
    <%- include("./partials/footer.ejs") %>
    <script src="/importersummary/addImporterSummary.js"></script>
    <script>
      ///fetch req with body parameters when submit
      const submitBtn = document.getElementById("submit");
      const addBt = document.getElementById("add");
      submitBtn.addEventListener("click", (e) => {
        let month = document.getElementById("month").value;
        month = month.split("-");
        const url = "/summary/add/<%=company.id%>";
        let info = [];
        for (let i = 0; i < count; i++) {
          info.push({
            BE: document.getElementById("BEno" + i).value,
            BEdate: document.getElementById("date" + i).value,
            productName: document.getElementById("name" + i).value,
            HScode: document.getElementById("HScode" + i).value,
            quantity: document.getElementById("quantity" + i).value,
            purchaseVal: document.getElementById("purchaseVal" + i).value,
            purchaseRate: document.getElementById("purchaseRate" + i).value,
            additionRate: document.getElementById("additionRate" + i).value,
            additionVal: document.getElementById("additionVal" + i).value,
            salesRate: document.getElementById("salesRate" + i).value,
            salesVal: document.getElementById("salesVal" + i).value,
            vatRate: document.getElementById("vatRate" + i).value,
            vatVal: document.getElementById("vatVal" + i).value,
            rebate: document.getElementById("rebate" + i).value,
            at: document.getElementById("at" + i).value,
            trDeposite: document.getElementById("trDeposite" + i).value,
            openingStock: document.getElementById("openingStock" + i).value,
            salesQty: document.getElementById("salesQty" + i).value,
            closingStock: document.getElementById("closingStock" + i).value,
            tr: document.getElementById("tr" + i).value,
            closingBal: document.getElementById("closingBal" + i).value,
          });
        }
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
          },
          body: JSON.stringify({
            companyId: "<%=company.id%>",
            month: month[1],
            year: month[0],
            info,
          }),
        }).then((response) => {
          response.json().then((data) => {
            window.location.href = data.redirect;
          });
        });
      });
    </script>
  </body>
</html>
