<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h2>All summaries for <%=company.name%></h2>
    <%if (summaries.length !== 0) { summaries.forEach((summary) => { %>

    <ul>
      <div class="single">
        <a href="/summary/<%=summary._id%>">
          <li>
            <h3><%= company.name %></h3>
            <br />
            <p><%=summary.month%>-<%=summary.year%></p>
          </li>
        </a>
      </div>
    </ul>
    <% }) } else {%>
    <p>No summaries found...</p>
    <% } %>
    <div class="bcb"><a href="/summary/add/<%=company._id%>">Add New</a></div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
