<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <p>all companies</p>
    <input type="text" id="search" placeholder="Search by name" onkeyup="search(this)">
    <ul class="result"></ul>
    <%if (companies.length !== 0) { companies.forEach((company) => { %>
    <ul>
      <div class="single">
        <a href="/company/<%=company._id%>"" >
        <li>
          <h3><%= company.name %></>
          <br />
          <p><%=company.ID%></p>
        </li>
      </a>
    </div>
  </ul>
    <% }) } else {%>
    <p>No companies found...</p>
    <% } %>
    
    <div class="bcb"><a href="/company/add">Add New</a></div>
    <%- include("./partials/footer.ejs") %>    
    <script>
      let searchVal = document.getElementById("search");
      let result = document.querySelector(".result");
      //add fetch api call
      function search(e){
        fetch(`/search/${searchVal.value}`,{
          method: "POST",
        })
        .then((response)=>{
          response.json().then((data)=>{
            if(data.length > 0){
              result.innerHTML = "";
              data.forEach(company => {
                result.innerHTML +=`<li><a class="white" href="${company._id}">${company.name}</a></li>`;
              });
            }
          })
        })
        .catch((err)=>{
          console.log(err);
        })
      }
      
    </script>
    </body>
</html>
