<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <p>all companies</p>
    <%if (companies.length !== 0) { companies.forEach((company) => { %>
    <ul>
      <div class="single">
        <a href="/company/<%=company._id%>"" >
        <li>
          <h3><%= company.name %></>
          <br />
          <p><%=company.ID%> <%=company.pass%></p>
        </li>
      </a>
    </div>
  </ul>
    <% }) } else {%>
    <p>No companies found...</p>
    <% } %>
    <div class="bcb"><a href="/company/add">Add New</a></div>
     <%- include("./partials/footer.ejs") %>    
  </body>
</html>
