<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h2>Name: <%=company.name%></h2>
    <p>Address: <%=company.address%></p>
    <br />
    <p>Phone: <%=company.phone%></p>
    <br />
    <p>Email: <%=company.email%></p>
    <br />
    <p>BIN: <%=company.BIN%></p>
    <br />
    <p>ID: <%=company.ID%></p>
    <br />
    <p>Pass: <%=company.pass%></p>
    <br />
    <p>Circle: <%=company.circle%></p>
    <br />
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
