<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="design">
      <h2>Name: <%=company.name%></h2>
      <p>Address: <%=company.address%></p>
      <br />
      <p>Phone: <%=company.phone%></p>
      <br />
      <p>Email: <%=company.email%></p>
      <br />
      <p>BIN: <%=company.BIN%></p>
      <br />
      <p>ID: <%=company.ID%></p>
      <br />
      <p>Pass: <%=company.pass%></p>
      <br />
      <p>Circle: <%=company.circle%></p>
      <br />
      <p>type: <%=company.type%></p>
      <br />
    </div>
    <div class="show"></div>
    <div class="bcb">
      <a href="/summary/all/<%=company._id%>">View summaries</a>
      <a class="delete" data-company-id="<%=company._id%>">Delete</a>
      <a class="edit" href="/company/edit/<%=company._id%>">Edit</a>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      const deleteBtn = document.querySelector("a.delete");

      deleteBtn.addEventListener("click", (e) => {
        const endpoint = `/company/${deleteBtn.dataset.companyId}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => {
            response.json().then((data) => {
              window.location.href = data.redirect;
            });
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
