<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2><%=summary.month%>-<%=summary.year%></h2>
    <div class="side-by-side">
      <h3>B/E No</h3>
      <h3>Date</h3>
      <h3>Product Description</h3>
      <h3>HS Code</h3>
      <h3>Quantity</h3>
      <h3>Purchase Value</h3>
      <h3>Purchase Rate</h3>
      <h3>Addition %</h3>
      <h3>Addition Value</h3>
      <h3>Sales Rate</h3>
      <h3>Sales Value</h3>
      <h3>VAT %</h3>
      <h3>VAT Amount</h3>
      <h3>Rebate</h3>
      <h3>AT 5%</h3>
      <h3>TR Deposite</h3>
      <h3>Opening Stock</h3>
      <h3>Sales Quantity</h3>
      <h3>Closing Stock</h3>
      <h3>TR</h3>
      <h3>Closing Balance (note 65)</h3>
    </div>

    <%summary.info.forEach((x,index)=>{%>
    <div class="side-by-side">
      <input type="text" value="<%=x.BE%>" id="BE<%=index%>" />
      <div>
        <input type="date" value="<%=x.BEdate%>" id="BEdate<%=index%>" />
      </div>
      <input
        type="text"
        value="<%=x.productName%>"
        id="productName<%=index%>"
      />
      <input type="text" value="<%=x.HScode%>" id="HScode<%=index%>" />
      <input type="text" value="<%=x.quantity%>" id="quantity<%=index%>" />
      <input
        type="text"
        value="<%=x.purchaseVal%>"
        id="purchaseVal<%=index%>"
      />
      <input
        type="text"
        value="<%=x.purchaseRate%>"
        id="purchaseRate<%=index%>"
      />
      <input
        type="text"
        value="<%=x.additionRate%>"
        id="additionRate<%=index%>"
      />
      <input
        type="text"
        value="<%=x.additionVal%>"
        id="additionVal<%=index%>"
      />
      <input type="text" value="<%=x.salesRate%>" id="salesRate<%=index%>" />
      <input type="text" value="<%=x.salesVal%>" id="salesVal<%=index%>" />
      <input type="text" value="<%=x.vatRate%>" id="vatRate<%=index%>" />
      <input type="text" value="<%=x.vatVal%>" id="vatVal<%=index%>" />
      <input type="text" value="<%=x.rebate%>" id="rebate<%=index%>" />
      <input type="text" value="<%=x.at%>" id="at<%=index%>" />
      <input type="text" value="<%=x.trDeposite%>" id="trDeposite<%=index%>" />
      <input
        type="text"
        value="<%=x.openingStock%>"
        id="openingStock<%=index%>"
      />
      <input type="text" value="<%=x.salesQty%>" id="salesQty<%=index%>" />
      <input
        type="text"
        value="<%=x.closingStock%>"
        id="closingStock<%=index%>"
      />
      <input type="text" value="<%=x.tr%>" id="tr<%=index%>" />
      <input type="text" value="<%=x.closingBal%>" id="closingBal<%=index%>" />
    </div>
    <%})%>
    <div class="side-by-side">
      <button class="green" id="save">save</button>
      <div class="bcb">
        <button id="dlt">delete</button>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      const saveBtn = document.getElementById("save");
      saveBtn.addEventListener("click", (e) => {
        const save = async () => {
          let response = await fetch("/summary/save/<%=summary._id%>");
          // let data = await response.json();
          // window.location.href = data.redirect;
        };
        save();
      });
      const dltBtn = document.getElementById("dlt");
      dltBtn.addEventListener("click", (e) => {
        const url = "/summary/<%=summary.companyId%>/<%=summary._id%>";
        fetch(url, {
          method: "DELETE",
        })
          .then((resposne) => {
            resposne.json().then((data) => {
              window.location.href = data.redirect;
            });
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
